= "{{unsafe}}"
#{'{{unsafe}}'}
= "{{safe}}".html_safe

{{safe}}

%div{:foo => '{{safe}}'.html_safe, :bar => '{{unsafe}}'}
  {{safe}}

-# We can't support Angular interpolations in class and id attributes.
-# This is a limitation of Haml.
%div{:class => '{{unsafe}}', :id => '{{unsafe}}'}